{
    "plugins": [
        "babel"
    ],
    "rules": {
        // Add your ESLint rules here
    },
    "settings": {
        "babel": {
            "plugins": [
                "babel/plugin-transform-private-property-in-object"
            ]
        }
    }
}